Repository metabrainz/musicbrainz-server, pull requests merged in 2025-08, with the labels that each got.

#3597 MBS-14104: Check if merge recordings are really ambiguous
  lib/MusicBrainz/Server/Data/Release.pm
  t/lib/t/MusicBrainz/Server/Controller/Release/Merge.pm
  t/sql/release.sql
Labels: Bug

#3599 MBS-14097: Add /-/ slug to Target links
  root/static/scripts/edit/URLCleanup.js
  root/static/scripts/tests/Control/URLCleanup.js
Labels: Bug, URL handling

#3596 MBS-14107: Support new style Brahms/IRCAM work links
  root/static/scripts/edit/URLCleanup.js
  root/static/scripts/tests/Control/URLCleanup.js
Labels: QoL, URL handling

#3600 MBS-14110: Don't try to log in using outdated username
  lib/MusicBrainz/Server/Controller/User.pm
Labels: Bug

#3602 MBS-14084: Sort event lists by newest first
  lib/MusicBrainz/Server/Data/Event.pm
Labels: QoL

#3601 MBS-14106: Add HDS-ZAMP to the otherdbs whitelist
  lib/MusicBrainz/Server/Data/URL.pm
  lib/MusicBrainz/Server/Entity/URL/Zamp.pm
  root/static/images/external-favicons/zamp-16.png
  root/static/scripts/common/constants.js
  root/static/scripts/edit/URLCleanup.js
  root/static/scripts/tests/Control/URLCleanup.js
  root/static/styles/favicons.less
Labels: URL handling

#3594 MBS-14080: Add report for weird primary aliases
  lib/MusicBrainz/Server/Report/ArtistReport.pm
  lib/MusicBrainz/Server/Report/ArtistsWithMismatchedPrimaryAliases.pm
  lib/MusicBrainz/Server/Report/EventReport.pm
  lib/MusicBrainz/Server/Report/LabelReport.pm
  lib/MusicBrainz/Server/Report/LabelsWithMismatchedPrimaryAliases.pm
  lib/MusicBrainz/Server/Report/PlaceReport.pm
  lib/MusicBrainz/Server/Report/RecordingReport.pm
  lib/MusicBrainz/Server/Report/ReleaseGroupReport.pm
  lib/MusicBrainz/Server/Report/ReleaseReport.pm
  lib/MusicBrainz/Server/Report/SeriesReport.pm
  lib/MusicBrainz/Server/Report/WorkReport.pm
  lib/MusicBrainz/Server/ReportFactory.pm
  root/report/ArtistsWithMismatchedPrimaryAliases.js
  root/report/LabelsWithMismatchedPrimaryAliases.js
  root/report/ReportsIndex.js
  root/server/components.mjs
Labels: New feature, Reports

#3584 MBS-14005 / MBS-14079: Show containment for place areas in search (inline and not)
  lib/MusicBrainz/Server/Controller/Search.pm
  lib/MusicBrainz/Server/Data/Area.pm
  lib/MusicBrainz/Server/Data/Search.pm
  root/search/components/PlaceResults.js
Labels: QoL, Bug

#3606 MBS-14124: Only try to merge each RG once
  lib/MusicBrainz/Server/Controller/Release.pm
  t/lib/t/MusicBrainz/Server/Controller/Release/Merge.pm
Labels: Bug

#3615 MBS-14130: ACUM albums should link to release group instead of releases
  root/static/scripts/edit/URLCleanup.js
  root/static/scripts/tests/Control/URLCleanup.js
Labels: URL handling
